
  @media screen and (max-width: 768px) {
    .videowrapper {
      display: none;
    }
}

@media screen and (min-width: 769px) and (max-width: 6000px){
    #scrolldownbutton {
      display: none;
    }
}

#approw {
  margin-bottom: 40px;
}

.exampleheader {
  padding-top: 100px;
}
